{
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "operator-linebreak": [
      "error",
      "after"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-unused-vars": "off",
    "no-underscore-dangle": "off",
    "no-var": [
      "off"
    ],
    "one-var": [
      "off"
    ],
    "global-require": "off",
    "no-plusplus": "off",
    "consistent-return": "off",
    "no-shadow": "off",
    "no-param-reassign": "off",
    "vars-on-top": "off",
    "camelcase": "off",
    "no-restricted-syntax": "off",
    "radix": "off",
    "prefer-rest-params": "off",
    "no-buffer-constructor": "off",
    "prefer-destructuring": "off",
    "no-prototype-builtins": "off",
    "no-nested-ternary": "off",
    "no-continue": "warn",
    "no-useless-escape": "warn",
    "func-names": "off",
    "max-len": [
      "error",
      { "code": 100 }
    ],
    "no-console": "warn",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
  }
}
